.header{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    >.bg-img{
        width: 100%;
        >img{
            width: 100%;
            height: auto;
        }
    }
    >.text{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        >.title{
            font-size: 44px;
            color: #fff;
            margin-bottom: 16px;
        }
        >.desc{
            font-size: 32px;
            color: #fff;
        }
    }
    }
  
